@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width:60em) {
    html {
        font-size: 110%;
    }
}

@media only screen and (min-width:90em) {
    html {
        font-size: 120%
    }
}

@media only screen and (min-width:120em) {
    html {
        font-size: 130%
    }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a:focus {
    outline:3px solid #000; 
}

.skip-links {
    margin:0;
    padding:0;
    list-style-type:none; 
}

.skip-links a {
    position: absolute;
    top: -3em;
    padding: .5em .75em;
    background-color: #000;
    color: #FFF;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}

.skip-links a:focus {
    top:0;
}

img {
  display: block;
  width: 100%;
}

h1 {
    text-align: center;
    margin: 0;
}

.colored {
    background-color: #CCC;
    padding-top:0;
    overflow: hidden;
}

.colored2 {
    background-color: #E2E2E2;
}

.colored3 {
    background-color: #EFEFEF;
}

.nav {
    padding: 0;
    list-style-type: none;
}

.nav a, 
.nav a:visited,
.nav a:active {
    display: block;
    text-align: inline-block;
    color: #0074D9;
    text-decoration: none;
}

@media only screen and (min-width: 25em) {  
    .nav {
        text-align: center;
        }
    
    .nav2 {
        text-align: center;
    }
    .nav li {
        display: inline-block;
        }
    
    .navfooter {
        color: blue;
    }
    
    
    .navfooter li::after {
        content:" · "
        
    }
    
    .navfooter a {
        display: inline;
    }
    
    .navfooter :last-child::after {
        content: none;
    }
}

@media only screen and (min-width: 38em) {
    .navfooter {
        float: right;
        text-align: right;
        }
    
    .nav2 {
        text-align: left;
    }
    
    h1 {
        float: left;
        }
}

@media only screen and (min-width: 60em) {
    
    .nav2 {
        float: left;
        text-align: left;
    }
    
    .data dt {
        float: left;
        width: 50% 
        
    }
    
    .data dd {
        float: left;
        width: 50%;
    }
}
